<app-header title="Profile"></app-header>

<div class="section ">
    <div class="container" *ngIf="user">
        <div class=" shadow-sm bg-white rounded-3 my-5">
            <div class="p-4 row">
                <div class="col-12 col-lg-4">
                    <div class="pe-md-4 border-end h-100 no-border">
                        <div style="width: fit-content; cursor: pointer;" class="m-auto img-holder"
                            (click)="openBottomSheet()">
                            <img [src]="user.imageUrl? user.imageUrl: 'assets/images/profile.png'"
                                style="width: 100px;height: 100px;" class="rounded-circle object-fit-cover ">
                            <mat-icon>edit</mat-icon>
                        </div>
                        <h2 class="text-center mt-2 mb-0">{{user.firstName}} {{user.lastName}}</h2>
                        <h5 class="text-center text-muted" style="margin-top: -5px;">{{user.email}}</h5>

                        <div class="list-group my-5 list-group-flush ">
                            <button type="button" class="list-group-item list-group-item-action py-3"
                                [class.active]="tab == 0" aria-current="true" (click)="tab = 0">
                                <mat-icon class="align-middle" style="width: 40px;">person</mat-icon> Account
                            </button>
                            <button type="button" class="list-group-item list-group-item-action py-3"
                                [class.active]="tab == 1" (click)="tab=1"><mat-icon class="align-middle"
                                    style="width: 40px;">key</mat-icon>
                                Password</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <app-update-account-details [user]="user" *ngIf="tab==0"></app-update-account-details>
                    <app-change-account-password *ngIf="tab==1"></app-change-account-password>
                </div>
            </div>
        </div>
    </div>
</div>