<div class="section">
    <div class="container" *ngIf="advice">
        <div class="bg-white shadow-sm rounded-3 p-4 my-5 m-auto" style="max-width: 800px;">
            <div class="mb-3 overflow-hidden rounded-3 object-fit-cover ">
                <img [src]="advice.imageUrl" class=" w-100  m-auto object-fit-cover "
                    style="min-height: 320px;max-height: 420px;">
            </div>
            <article class="m-auto" style="line-height: 1.5;" [innerHTML]="advice.content">
            </article>
        </div>
    </div>
</div>