@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
}

input,
textarea,
div[contenteditable] {
    caret-color: initial;
}


html,
body {
    height: fit-content;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section {
    margin-top: 76px;
    min-height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.clickable {
    caret-color: transparent;
    cursor: pointer;
}

.clickable:hover {
    color: #3f51b5 !important;
    opacity: 1 !important;
}

.long-press {
    cursor: pointer;
    transition: all 400ms;
    border-radius: 5px;
}

.long-press:active {
    background-color: #f8f9fa;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.text-primary {
    color: #3f51b5 !important;
}

.bg-primary {
    background-color: #3f51b5 !important;
}

.btn-primary {
    background-color: #3f51b5 !important;
}

.btn-primary:hover {
    background-color: #2a3eaf !important;
}


.header {
    position: relative;
    width: fit-content;
}

.header::before,
.header::after {
    content: '';
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}

.header::before {
    width: 35%;
    background-color: #3f51b5;
    z-index: 2;
}

.header::after {
    width: 100%;
    background-color: #ddd;
    z-index: 1;
}


.card-animation {
    cursor: pointer;
    transition: transform 400ms;
}

.card-animation:hover {
    transform: translatey(-10px);
}