@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
}

input,
textarea,
div[contenteditable] {
    caret-color: initial;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: #fafafa;
}

.section {
    min-height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .section {
        min-height: calc(100vh - 248px);
    }
}

.pointer {
    cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.clickable {
    caret-color: transparent;
    cursor: pointer;
}

.clickable:hover {
    color: #3f51b5 !important;
}