<div class="shadow-sm bg-white rounded-3 p-4">
    <span class="mb-4 pb-2 mt-2 text-primary d-block fw-semibold fs-5">Time Slots</span>
    <div class="row">
        <div class="col mb-2">
            <app-time-picker-input [control]="timeSlotForm.controls.start" label="Start Time"
                [format]="12"></app-time-picker-input>
        </div>
        <div class="col mb-2">
            <app-time-picker-input [control]="timeSlotForm.controls.end" label="End Time"
                [format]="12"></app-time-picker-input>
        </div>
    </div>
    <div class="mb-2">
        <app-form-select [control]="timeSlotForm.controls.day" [options]="dayOptions" label="Day"></app-form-select>
    </div>
    <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" (click)="Create()" [disabled]="timeSlotForm.invalid">Add</button>
    </div>
</div>