<div class="section">
    <div class="container" [hidden]="isFirstLoading">
        <div class="bg-white rounded-3 shadow-sm my-4 chat-box d-flex flex-column justify-content-between overflow-hidden position-relative "
            *ngIf="currentAuth">
            <div class="overflow-auto hide-scrollbar flex-fill p-4 pb-0" #messagesContainer>

                <app-message-card [msg]="toMessageCardObj(msg)"
                    *ngFor="let msg of paginatedList?.data"></app-message-card>

                <app-writing-loader *ngIf="isWriting" imageUrl="assets/images/chat_bot.webp"></app-writing-loader>

                <app-welcoming-view *ngIf="!paginatedList?.data?.length"
                    (suggestionChoosed)="message($event)"></app-welcoming-view>
            </div>
            <app-scroll-down-btn (clicked)="scrollBottom()" [active]="isScrollBottomBtnActive"></app-scroll-down-btn>

            <div class="text-muted p-4 pt-3  z-3  bg-white">
                <app-message-sender (sendBtnClicked)="message($event.content)"
                    [disable]="isWriting"></app-message-sender>
            </div>
        </div>
    </div>
</div>