.validations {
    margin-top: -5px;
    padding-left: 5px;
}

.validations span {
    color: red;
    display: block;
}

input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

span {
    font-size: 12px;
}