<app-header title="Heal Me"></app-header>

<div class="section">
    <div class="container">
        <div class="row row-cols-1 row-cols-xl-3 g-4 my-5">
            <div class="col">
                <div class="card p-4 shadow overflow-hidden" routerLink="/ai-models/chating">
                    <mat-icon class="m-auto mb-4"
                        style="width: 100px;font-size: 100px;height:100px;color: #9d9fa5">forum</mat-icon>
                    <h5 class="card-title fs-5 fw-medium mb-2 text-center">Talk to your doctor with AI</h5>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow overflow-hidden" routerLink="/ai-models/heart-checking">
                    <mat-icon class="m-auto mb-4"
                        style="width: 100px;font-size: 100px;height:100px;color: #9d9fa5">volunteer_activism</mat-icon>
                    <h5 class="card-title fs-5 fw-medium mb-2 text-center">Make sure your heart is healthy</h5>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow overflow-hidden" routerLink="/ai-models/skin-checking">
                    <mat-icon class="m-auto mb-4"
                        style="width: 100px;font-size: 100px;height:100px;color: #9d9fa5">touch_app</mat-icon>
                    <h5 class="card-title fs-5 fw-medium mb-2 text-center">Make sure your skin is healthy</h5>
                </div>
            </div>
        </div>
    </div>
</div>