<div class="section">
    <div class="container">
        <div class="row row-cols-1  row-cols-xl-3 g-4 mb-5 mt-4">
            <div class=" col">
                <div class="card p-4 shadow-sm border-0 overflow-hidden" routerLink="/ai-models/chating">
                    <img src="assets/images/ai-doctor.png" class="m-auto mb-4"
                        style="width: 100px;font-size: 100px;height:100px;">
                    <span class="card-title fs-5 fw-semibold  mb-2 text-center text-primary">Talk to your doctor with
                        AI</span>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow-sm border-0 overflow-hidden" routerLink="/ai-models/heart-checking">
                    <img src="assets/images/heart-checking.png" class="m-auto mb-4"
                        style="width: 100px;font-size: 100px;height:100px;">
                    <span class="card-title fs-5 fw-semibold mb-2 text-center text-primary">Make sure your heart is
                        healthy
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow-sm border-0 overflow-hidden" routerLink="/ai-models/skin-checking">
                    <img src="assets/images/sking-checking.png" class="m-auto mb-4"
                        style="width: 100px;font-size: 100px;height:100px;">
                    <span class="card-title fs-5 fw-semibold mb-2 text-center text-primary ">Make sure your skin is
                        healthy
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>