<div class="shadow-sm bg-white rounded-3 p-4">
    <span class="mb-4 pb-2 mt-2 text-primary d-block fw-semibold fs-5">Password</span>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <div class="my-2">
            <app-form-input [control]="passwordForm.controls.oldPassword" label="Old Password"
                type="password"></app-form-input>
        </div>
        <div class="my-2">
            <app-form-input [control]="passwordForm.controls.newPassword" label="New Password" type="password"
                class="my-1"></app-form-input>
        </div>
        <div class="d-flex justify-content-end ">
            <button mat-raised-button color="primary" [disabled]="passwordForm.invalid"
                class="float-end">Change</button>
        </div>
    </form>
</div>