<app-header title="Skin Checking"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white rounded-3 shadow-sm p-4 my-5">
            <div class="w-100 rounded-1 position-relative " [class.p-4]="!src" style="cursor: pointer;"
                [style]="!src?'border:1px dashed #9d9fa5;':''" (click)="fileInput.click()">
                <ng-container *ngIf="!src">
                    <mat-icon style="color: #9d9fa5;font-size: 80px;width: 80px;height: 80px;"
                        class="m-auto d-block">cloud_upload</mat-icon>
                    <h4 class="text-muted text-center">Choose image file</h4>
                </ng-container>
                <input type="file" (change)="image = fileInput.files?.[0];setSrc()" hidden #fileInput accept="image/*">
                <ng-container *ngIf="src">
                    <img class="w-100 object-fit-cover  rounded-1" [src]="src" #img style="height: 170px;">
                </ng-container>

            </div>

            <h4 class="mt-4 mb-0" style="color: #444;" style="color:#3f51b5" *ngIf="response">{{response.response}}.
            </h4>
        </div>
    </div>
</div>