<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="bg-white rounded-3 shadow-sm p-4 my-5" (fileDropped)="check($event)">
                    <h1 class="text-center fs-3 text-primary fw-medium mb-4">
                        Skin Checking
                    </h1>
                    <div class="w-100 rounded-1 position-relative p-4 text-primary"
                        style="cursor: pointer;border:1px dashed  #ccc;" (click)="fileInput.click()">
                        <mat-icon style="color: #bbb;font-size: 80px;width: 80px;height: 80px;"
                            class="m-auto d-block">cloud_upload</mat-icon>
                        <h4 class="text-dark opacity-75 text-center">Choose image file</h4>
                        <input type="file" (change)="check($event)" hidden #fileInput accept="image/*">
                    </div>

                    <div class="mt-4" *ngIf="image">
                        <app-image-card [image]="image" [hideActions]="true"></app-image-card>
                    </div>
                    <div class="mt-4 mb-0  small" style="color: #444;" *ngIf="response" [innerHtml]="response.response">
                    </div>
                </div>
            </div>
            <div class="col-5 d-lg-flex justify-content-end align-items-center d-none">
                <img src="https://i.pinimg.com/originals/57/5d/b7/575db774cb23bd8af6ec5a416520cf52.png"
                    style="max-width: 340px;" class="w-100">
            </div>
        </div>
    </div>