<app-header title="Reseting Password"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white p-4 rounded-3 shadow my-5">
            <h1 class="mb-4">Reseting Password</h1>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="w-100">
                <div class="my-2">
                    <app-form-input [control]="resetPasswordForm.controls.password" label="New Password"
                        type="password"></app-form-input>
                </div>
                <div class="d-flex justify-content-end ">
                    <button mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>