<div class="section">
    <div class="container">
        <div class="row align-items-center justify-content-center ">
            <div class="col">
                <div class="bg-white rounded-3 my-5 shadow-sm p-4">
                    <span class="text-center fs-1  text-primary fw-semibold  mt-3 mb-5 d-block">
                        Reset Password
                    </span>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="w-100">
                        <div class="my-2">
                            <app-form-input [control]="resetPasswordForm.controls.password" label="New Password"
                                type="password"></app-form-input>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button [disabled]="resetPasswordForm.invalid"
                                class="w-100 py-3 btn btn-primary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col d-lg-flex justify-content-end align-items-center d-none">
                <img src="assets/images/reset-password.webp" style="max-width:500px;" class="w-100 p-3">
            </div>
        </div>
    </div>
</div>