<app-header title="Reset Password"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white rounded-3 my-5 shadow-sm p-4">
            <div class="row align-items-center">
                <div class="col d-flex justify-content-center align-items-center">
                    <img src="assets/images/reset-password.webp" style="max-width: 320px;" class="w-100">
                </div>
                <div class="col-lg col-12">
                    <h1 class="text-center fs-1 text-primary fw-medium mt-lg-0 mt-5 mb-5">
                        Reset Password
                    </h1>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="w-100">
                        <div class="my-2">
                            <app-form-input [control]="resetPasswordForm.controls.password" label="New Password"
                                type="password"></app-form-input>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button [disabled]="resetPasswordForm.invalid"
                                class="w-100 py-3 btn btn-primary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>