<div class="card shadow-sm border-0 rounded-3">
    <div class="card-body">
        <div class="mb-3">
            <textarea class="form-control hide-scrollbar" name="" id="" rows="8"
                placeholder="What are you suffering from?" #postTextarea [maxLength]="5000"
                [(ngModel)]="createPostObj.content"></textarea>
        </div>

        <ng-container *ngIf="createPostObj.images?.length">
            <div class="my-3" *ngFor="let image of createPostObj.images; let index=index">
                <app-image-card [image]="image" (imageRemoved)="removeImage(index)"></app-image-card>
            </div>
        </ng-container>


        <div class="d-flex justify-content-between align-items-center position-relative">
            <div class="d-flex align-items-center flex-fill justify-content-end ">
                <span class="me-3">{{createPostObj.content.length}} / 5000</span>

                <a class="text-body text-opacity-50 me-3 d-flex clickable"
                    (click)="postEmojiList.active= !postEmojiList.active"
                    [style.color]="postEmojiList.active?'#3f51b5 !important':''"><mat-icon>emoji_emotions</mat-icon></a>
                <app-emojis-list class="position-absolute z-3 mt-2 top-100 end-0" (emojiSelected)="insertText($event);"
                    #postEmojiList></app-emojis-list>


                <a class="text-body text-opacity-50 me-3 d-flex clickable"
                    (click)="postEmojiList.active = false; postImages.click()"><mat-icon>photo_camera</mat-icon>
                    <input type="file" (change)="setImages($event);" hidden #postImages multiple accept="image/*"
                        #test></a>

            </div>
            <button mat-raised-button color="primary" [disabled]="!isPostFormValid()"
                (click)="createPost()">Post</button>
        </div>
    </div>
</div>