<div class="container py-5" style="color: #444;">
    <h1 class="fs-4 mb-4" style="color: #aaa ">Services</h1>
    <div class="row row-cols-1  row-cols-xl-3 g-4">
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="text-primary">Skin Cancer Detection</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Expedita numquam corrupti
                        minus sapiente!
                        Incidunt quibusdam cumque tenetur commodi nulla molestiae autem quaerat aut et veritatis! Quidem
                        suscipit deserunt amet sed.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="text-primary">Heart Disease Detection</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Expedita numquam corrupti
                        minus sapiente!
                        Incidunt quibusdam cumque tenetur commodi nulla molestiae autem quaerat aut et veritatis! Quidem
                        suscipit deserunt amet sed.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="text-primary">Chating Bot Doctor</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Expedita numquam corrupti
                        minus sapiente!
                        Incidunt quibusdam cumque tenetur commodi nulla molestiae autem quaerat aut et veritatis! Quidem
                        suscipit deserunt amet sed.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>