<div class="container py-5">
    <h1 style="color: #444;">Services</h1>
    <div class="row row-cols-1  row-cols-lg-3 g-4">
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="color:#444">Skin Cancer Detection</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="color:#444;" class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Expedita numquam corrupti
                        minus sapiente!
                        Incidunt quibusdam cumque tenetur commodi nulla molestiae autem quaerat aut et veritatis! Quidem
                        suscipit deserunt amet sed.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="color: #444">Heart Disease Detection</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="color:#444;" class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Expedita numquam corrupti
                        minus sapiente!
                        Incidunt quibusdam cumque tenetur commodi nulla molestiae autem quaerat aut et veritatis! Quidem
                        suscipit deserunt amet sed.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="color: #444">Chating Bot Doctor</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="color:#444;" class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Expedita numquam corrupti
                        minus sapiente!
                        Incidunt quibusdam cumque tenetur commodi nulla molestiae autem quaerat aut et veritatis! Quidem
                        suscipit deserunt amet sed.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>