<app-header title="Sending Email Reset Password"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white p-4 rounded-3 shadow my-5">
            <h1 class="mb-4">Sending Email Reset Password</h1>
            <form [formGroup]="emailForm" (ngSubmit)="send()">
                <app-form-input [control]="emailForm.controls.email" label="email"></app-form-input>
                <div class="d-flex justify-content-end ">
                    <button mat-raised-button color="primary" [disabled]="emailForm.invalid">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>