<app-header title="Send Email Reset Password"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white rounded-3 my-5 shadow-sm p-4">
            <div class="row align-items-center">
                <div class="col d-flex justify-content-center align-items-center">
                    <img src="assets/images/send-email-reset-password.webp" style="max-width: 380px;" class="w-100">
                </div>
                <div class="col-lg col-12">
                    <h1 class="text-center fs-1 text-primary fw-medium mt-lg-0 mt-4 mb-5">
                        Reset Password
                    </h1>
                    <form [formGroup]="emailForm">
                        <app-form-input [control]="emailForm.controls.email" label="email"></app-form-input>
                        <div class="d-flex justify-content-end my-2">
                            <button [disabled]="emailForm.invalid" class="w-100 py-3 btn btn-primary"
                                (click)="send()">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>