<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg ">
                <div class="bg-white rounded-3 p-4 shadow-sm">
                    <span class="text-center fs-1  text-primary fw-semibold  mt-3 mb-5 d-block">
                        Forget Password
                    </span>
                    <form [formGroup]="emailForm">
                        <app-form-input [control]="emailForm.controls.email" label="email"></app-form-input>
                        <div class="d-flex justify-content-end my-2">
                            <button [disabled]="emailForm.invalid" class="w-100 py-3 btn btn-primary"
                                (click)="send()">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col d-lg-flex justify-content-end align-items-center d-none">
                <img src="assets/images/forgot-password.png" style="max-width: 500px;" class="w-100">
            </div>
        </div>
    </div>
</div>