<div class="d-flex mw-100">
    <img [src]="currentAuth?.imageUrl ??  defaultUserImageUrl" alt="" width="35" height="35" class="rounded-circle" />
    <div class="flex-fill ps-2">
        <div class="position-relative d-flex">
            <textarea type="text"
                class="form-control bg-white bg-opacity-15 position-relative overflow-auto hide-scrollbar" #commentInput
                placeholder="Write a comment..." contenteditable [(ngModel)]="createCommentObj.content"
                AutoResizeTextArea defaultHeight="38px">
            </textarea>

            <div class="position-absolute end-0 text-center d-flex me-2 " style="top:9px;">

                <a class="text-body text-opacity-50 me-2 d-flex clickable"><mat-icon
                        style="width: fit-content; height: fit-content; font-size: 20px;"
                        (click)="isEmojiListActive= !isEmojiListActive;commentInput.focus();"
                        [style.color]="isEmojiListActive?'#3f51b5 !important':''">emoji_emotions</mat-icon></a>


                <a class="text-body text-opacity-50 me-2 d-flex clickable"
                    (click)="isEmojiListActive = false;postImages.click();"><mat-icon
                        style="width: fit-content; height: fit-content; font-size: 20px;">photo_camera</mat-icon>
                    <input type="file" (change)="setImages($event);" hidden #postImages accept="image/*"></a>

                <button class="text-body text-opacity-50 me-2 d-flex clickable border-0 bg-transparent"
                    (click)="createComment();isEmojiListActive=false;" [disabled]="!isCommentValid()"><mat-icon
                        style="width: fit-content; height: fit-content; font-size: 20px;">send</mat-icon></button>

            </div>
            <app-emojis-list class="position-absolute z-3 mt-2 top-100 end-0" (emojiSelected)="insertText($event)"
                [active]="isEmojiListActive" #postEmojiList></app-emojis-list>
        </div>
    </div>
</div>

<div style="margin-left: 43px;" class=" mt-3">
    <app-image-card [image]="createCommentObj.image" (imageRemoved)="removeImage()"></app-image-card>
</div>