<app-header title="Register"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white rounded-3 my-5 shadow-sm p-4">
            <div class="row align-items-center">
                <div class="col d-flex justify-content-center align-items-center">
                    <img src="assets/images/register.png" style="max-width: 500px;" class="w-100">
                </div>
                <div class="col-lg col-12">
                    <h1 class="text-center fs-1 text-primary fw-medium mb-5 mt-0 mt-lg-0 " style="margin-bottom: 36px;">
                        Create
                        Account
                    </h1>
                    <form [formGroup]="registerForm" class="w-100">
                        <div class="my-2">
                            <app-form-input [control]="registerForm.controls.firstName"
                                label="First Name"></app-form-input>
                        </div>
                        <div class="my-2">
                            <app-form-input [control]="registerForm.controls.lastName"
                                label="Last Name"></app-form-input>
                        </div>
                        <div class="my-2">
                            <app-form-input [control]="registerForm.controls.email" label="Email"></app-form-input>
                        </div>
                        <div class="my-2">
                            <app-form-input [control]="registerForm.controls.password" label="Password"
                                type="password"></app-form-input>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button [disabled]="registerForm.invalid" class="btn btn-primary py-3 w-100"
                            (click)="register()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>