<app-header title="Heart Checking"></app-header>

<div class="section">
    <div class="container">
        <div class="bg-white rounded-3 shadow-sm p-4 my-5">
            <div class="w-100 p-4 rounded-1" style="cursor: pointer;border:1px dashed #9d9fa5;"
                (click)="fileInput.click()">
                <mat-icon style="color: #9d9fa5;font-size: 80px;width: 80px;height: 80px;"
                    class="m-auto d-block">cloud_upload</mat-icon>
                <h4 class="text-muted text-center">Choose voice file</h4>
                <input type="file" (change)="voice = fileInput.files?.[0]; setPlayer();" hidden #fileInput
                    accept="audio/*">
            </div>

            <div class="bg-light py-2 px-3 rounded-3 mt-4" *ngIf="voice">
                <div class="d-flex align-items-center">
                    <mat-icon style="width: 36px;height: 36px;font-size: 36px;color:#444;" class="flex-shrink-0 me-3">
                        graphic_eq
                    </mat-icon>
                    <div class="d-flex align-items-center justify-content-between" style="width: calc(100% - 52px)">
                        <div style="width: calc(100% - 48px)">
                            <h3 class="mb-0 text-nowrap overflow-hidden"
                                style="color:#444;text-overflow: ellipsis;width: 100%;">
                                {{voice.name}}</h3>
                            <h5 class="text-muted mb-0">{{voice.size | BytesSize:2 }}</h5>
                        </div>
                        <button mat-icon-button (click)="playPause()" class="flex-shrink-0"><mat-icon>
                                {{!player.paused ? 'pause':'play_arrow'}}</mat-icon></button>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-0" style="color: #444;" *ngIf="response" [innerHtml]="response.response"></div>
        </div>
    </div>
</div>