.nav-link {
    cursor: pointer;
    border-radius: 6px;
}

.nav-link.active {
    background-color: #324191;
}

.nav-link:hover {
    background-color: #252f69;
}

@media (max-width: 600px) {
    .nav-links {
        position: absolute;
        top: 99%;
        left: 0;
        width: 100%;
        background-color: #3f51b5;
        display: flex;
        padding: 0 20px;
        text-align: center;
        box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15);
    }

    .nav-links button {
        flex-grow: 1;
        margin: 0 !important;
        padding: 0 !important;
    }

    .dropdown-nav {
        left: 16px;
    }

    .outlier {
        top: calc(90% + 36px);
    }
}