<mat-toolbar color="primary" class="d-flex justify-content-between shadow fixed-top">
    <div class="d-flex ">
        <span class="me-4 d-flex align-items-center">
            <mat-icon class="me-2">spa</mat-icon>
            HealU
        </span>
        <div class="d-flex nav-links">
            <button mat-button class="me-2 p-2 nav-link" routerLink="/home" routerLinkActive="active">Home</button>
            <button mat-button class="me-2 p-2 nav-link" routerLink="/articles"
                routerLinkActive="active">Articles</button>
            <button mat-button class="me-2 p-2 nav-link" routerLink="/advices"
                routerLinkActive="active">Advices</button>
        </div>
    </div>
    <div class="d-flex" *ngIf="!currentAuth">
        <button mat-button class="me-2 p-2 nav-link" routerLink="/account/login">Login</button>
        <button mat-raised-button class="p-2" routerLink="/account/register">Register</button>
    </div>
    <div *ngIf="currentAuth">
        <button mat-button (click)="isDropdownActive = !isDropdownActive">
            {{currentAuth.name}}
            <img [src]="currentAuth.imageUrl ?? defaultUserImageUrl" class="rounded-circle object-fit-cover"
                style="width: 36px;height: 36px;">
        </button>

        <app-nav-menu [active]="isDropdownActive"></app-nav-menu>

    </div>
</mat-toolbar>