.wrapper {
    background-color: #3f51b5;
    padding: 33px;
    padding-top: 97px !important;
}

@media(max-width: 600px) {
    .wrapper {
        padding-top: 125px !important;
    }
}

* {
    caret-color: transparent;
}