<div class="container profile p-0">
    <div class="my-5 w-fit">
        <div class="card mb-3 shadow-sm border-0 rounded-3 m-auto">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" width="50"
                            class="rounded-circle" /></a>
                    <div class="flex-fill ps-2">
                        <div class="fw-bold"><a href="#" class="text-decoration-none" style="color: #3f51b5">Clyde
                                Stanley</a>
                        </div>
                        <div class="small text-body text-opacity-50">March 16</div>
                    </div>
                </div>

                <p>Best vacation of 2023</p>
                <div class="profile-img-list">
                    <div class="profile-img-list-item main">
                        <a href="#" data-lity="" class="profile-img-list-link">
                            <span class="profile-img-content"
                                style="background-image: url(https://bootdey.com/img/Content/avatar/avatar1.png);"></span>
                        </a>
                    </div>
                    <div class="profile-img-list-item main">
                        <a href="#" data-lity="" class="profile-img-list-link">
                            <span class="profile-img-content"
                                style="background-image: url(https://bootdey.com/img/Content/avatar/avatar2.png);"></span>
                        </a>
                    </div>
                    <div class="profile-img-list-item">
                        <a href="#" data-lity="" class="profile-img-list-link">
                            <span class="profile-img-content"
                                style="background-image: url(https://bootdey.com/img/Content/avatar/avatar3.png);"></span>
                        </a>
                    </div>
                    <div class="profile-img-list-item">
                        <a href="#" data-lity="" class="profile-img-list-link">
                            <span class="profile-img-content"
                                style="background-image: url(https://bootdey.com/img/Content/avatar/avatar5.png);"></span>
                        </a>
                    </div>
                    <div class="profile-img-list-item with-number">
                        <a href="#" data-lity="" class="profile-img-list-link">
                            <span class="profile-img-content"
                                style="background-image: url(https://bootdey.com/img/Content/avatar/avatar4.png);"></span>
                        </a>
                    </div>
                    <div class="profile-img-list-item with-number">
                        <a href="#" data-lity="" class="profile-img-list-link">
                            <span class="profile-img-content"
                                style="background-image: url(https://bootdey.com/img/Content/avatar/avatar6.png);"></span>
                        </a>
                    </div>
                </div>
                <hr class="mb-1 opacity-1" />

                <div class="d-flex justify-content-center  fw-bold">
                    <a
                        class="text-body text-opacity-50 text-decoration-none d-block p-2 d-flex align-items-center gap-1 clickable"><mat-icon
                            style="font-size: 18px;width: fit-content; height: fit-content;">notes</mat-icon>
                        Comments </a>
                </div>
                <hr class="mb-3 mt-1 opacity-1" />

                <app-create-comment></app-create-comment>

                <!-- Comments -->
                <ng-content select="app-comment"></ng-content>


                <!-- More comments -->
                <div class="d-flex mt-2 justify-content-center  align-items-center fw-semibold text-body text-opacity-50"
                    style="margin-left: 43px;">
                    <span class="clickable">Load more comments</span>
                </div>

            </div>
        </div>
    </div>
</div>