<div class="container py-5">
    <h1 style="color: #444;">About</h1>
    <div class="row g-4">
        <div class="col-12 col-md ">
            <p style="color:#444;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio rerum et delectus
                harum
                in eos, excepturi
                quis
                esse? Quaerat iste blanditiis ex fugit? Nemo architecto dicta, excepturi hic consectetur modi?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit necessitatibus voluptatum quod
                recusandae earum! Nulla cum possimus expedita, et quam, iste nesciunt mollitia voluptatem impedit aut
                recusandae perferendis enim quasi!</p>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="assets/images/about.jpg" class="rounded-3 object-fit-cover w-100" style="height: 200px;">
        </div>
    </div>
</div>