<div class="container py-5">
    <span class="mb-4 d-block fs-4 fw-medium   text-secondary">About</span>
    <div class="row align-items-center">
        <div class="col-12 col-xl ">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, incidunt? Dolores sapiente eius, sed
                illo placeat quam obcaecati voluptate, aspernatur saepe recusandae inventore assumenda nihil autem
                deleniti temporibus neque ea!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit doloremque tenetur accusamus ab.
                Molestias accusantium quaerat error debitis, ut consectetur accusamus vel magni laborum impedit,
                aliquam, dolorem eligendi magnam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ad? Incidunt ullam esse, eligendi
                obcaecati architecto nam perferendis quas culpa quisquam fuga aspernatur necessitatibus consectetur
                ducimus voluptatem
            </p>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="assets/images/about.jpg" class="rounded-3 object-fit-cover w-100" style="height: 200px;">
        </div>
    </div>
</div>