<div class="container py-5">
    <h1 style="color: #444;">About</h1>
    <div class="row g-4 align-items-center">
        <div class="col-12 col-md ">
            <div style="color:#444;">
                <p>
                    At our website,we you with valuable
                    articles, expert
                    advice, and innovative AI features to enhance your healthcare journey and
                    we understand the importance of staying informed about the latest medical
                    advancements and
                    maintaining a healthy lifestyle. That's why we offer a wide range of articles covering various
                    topics, from common
                    health conditions and their treatments to preventive measures and healthy living tips. Our team of
                    medical
                    professionals and researchers work diligently to ensure that the information provided is accurate,
                    reliable, and
                    up-to-date.
                </p>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="assets/images/about.jpg" class="rounded-3 object-fit-cover w-100" style="height: 200px;">
        </div>
    </div>
</div>