<div class="section" style="align-items:stretch;">
    <div class="container my-5" *ngIf="doctors">
        <div class="mb-4">
            <app-doctors-filter (filterRequested)="applyFilter($event)" [seed]="doctorFilter"></app-doctors-filter>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-5 mt-4">
            <div class="col" *ngFor="let doctor of doctors.data">
                <div class="shadow-sm overflow-hidden bg-white rounded-3 p-4 card-animation"
                    [routerLink]="currentAuth?.id == doctor.id ? '/account' : '/account/' +doctor.id" [state]="doctor">
                    <img [src]="doctor.imageUrl ?? defaultImageUrl"
                        class="rounded-circle m-auto d-block mb-3 mt-1 object-fit-cover"
                        style="width:120px;height: 120px;">

                    <span class="text-primary  fw-semibold  d-block fs-6 text-center mb-0">Dr. {{doctor.firstName}}
                        {{doctor.lastName}}
                    </span>
                    <p class="text-center mb-3">{{doctor.doctor.speciality.name}}</p>

                    <div class="d-flex justify-content-between mx-3 text-center">
                        <div>
                            <span class="text-primary fw-medium mb-0">Experience</span>
                            <p class="mb-0 text-muted">{{doctor.doctor.experience}} years</p>
                        </div>
                        <div>
                            <span class="text-primary fw-medium  mb-0 ">Consult Fee</span>
                            <p class="mb-0 text-muted">{{doctor.doctor.consultFee}} USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-no-content-card *ngIf="!doctors.data.length && !isLoading"></app-no-content-card>
        <mat-paginator #paginator class=" mt-5 shadow-sm bg-white p-3 rounded-3" (page)="handlePageEvent($event)"
            [length]="doctors?.totalCount" [pageSize] [pageSize]="doctorFilter.pageSize" [showFirstLastButtons]="true"
            [pageIndex]="doctorFilter.pageNumber - 1" [pageSizeOptions]="[6, 12, 24, 50]" aria-label="Select page">
        </mat-paginator>

    </div>
</div>