<app-header title="how to manage tonsillitis in children"></app-header>
<div class="section">
    <div class="container">
        <div class="bg-white shadow rounded-3 p-4 fw-bold my-5 m-auto" style="max-width: 600px;">
            <div class="mb-3 overflow-hidden rounded-3 object-fit-cover ">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/2225092.jpg"
                    class=" w-100  m-auto object-fit-cover " style="min-height: 320px;">
            </div>
            <article class="fw-medium m-auto" style="color: #444; line-height: 1.5;">
                <h2>What is tonsillitis?</h2>
                Tonsillitis is an inflammation of the tonsils and it's common in children, although adults and teenagers
                can get it too.
                It is normally caused by a virus, which spreads when we cough, sneeze, speak or are in physical contact
                with others.
                Sometimes, tonsillitis is caused by a bacterial infection.
                <br />
                <br />
                <br />
                <h2>What are the symptoms of tonsillitis in children?</h2>
                Tonsillitis can feel like a bad cold or flu, but the tonsils at the back of the throat - the two round
                lumps - will be
                red and swollen. The main symptoms in children and adults are a sore throat, difficulty swallowing, a
                high temperature
                of 38C or higher, a cough, headaches, feeling sick, earache and feeling tired.

                <br />
                <br />
                Sometimes, the symptoms can be more severe - such as swollen glands in your neck or blisters on the
                tonsils.

                <br />
                <br />
                <br />
                <h2>When to speak to your doctor if your child has tonsillitis?</h2>
                If your child’s symptoms remain after four days or your child becomes more unwell, you should see your
                GP. You should
                also see your doctor if your child has pus-filled spots on their tonsils.

                <br />
                <br />
                Complications caused by tonsillitis are very rare but include the development of an abcess called a
                quinsy - a
                fluid-filled blister in the throat - which can make it difficult to breathe. It's important to see your
                doctor or go to
                A&E if your child has difficulty breathing.

                <br />
                <br />
                Most children get tonsillitis which is caused by a virus, but sometimes, it can be caused by bacteria.
                If this is the
                case, they may prescribe antibiotics. If your child is prescribed antibiotics, it's important that they
                finish the full
                course of the medication.
            </article>
        </div>
    </div>
</div>