<mat-nav-list style="width: 65vw;max-width: 800px;">
    <a mat-list-item (click)="file.click()">
        <span matListItemTitle class="d-flex align-items-center gap-2"><mat-icon>edit</mat-icon>Change Profile
            Image</span>
        <input hidden (input)="uploadImage($event)" type="file" #file accept="image/*">
    </a>

    <a mat-list-item mat-list-item-close (click)="removeImage()">
        <span mat-dialog-close matListItemTitle
            class="d-flex align-items-center gap-2"><mat-icon>delete</mat-icon>Remove Profile
            Image</span>
    </a>
</mat-nav-list>