<ng-container *ngIf="paginatedList">
    <ng-container *ngFor="let comment of paginatedList.data">
        <div class="py-1 my-2 d-flex" id="com{{comment.id}}"
            (longPress)="comment.owner.id == currentAuth!.id ? openCommentBottomSheet(comment) : null">
            <a [routerLink]="currentAuth?.id != comment.owner.id ? '/account/'+comment.owner.id:'/account'">
                <img [src]="comment.owner.imageUrl ?? defaultUserImageUrl" width="35" height="35"
                    class="rounded-circle me-2">
            </a>


            <div class="flex-fill">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <div class="d-flex align-items-center">
                        <a class="fw-semibold  text-decoration-none text-primary ">{{comment.owner.firstName}}
                            {{comment.owner.lastName}}</a>
                        <mat-icon class="ms-1 w-auto h-auto" style="font-size: 16px;color: #5279f6;"
                            *ngIf="isDoctor(comment.owner.role)">verified</mat-icon>
                    </div>
                    <span class="small text-body text-opacity-50">{{comment.commentedOn | timeago}}</span>
                </div>
                <p class="my-1 small" *ngIf="comment.content" [innerText]="comment.content"></p>
                <div class="my-2" *ngIf="comment.media && comment.media.type == 'Image'">
                    <img [src]="comment.media.url" class="rounded-3 object-fit-cover"
                        style="max-height: 150px;max-width: 100%;" (click)="lighbox.active = true">
                    <app-light-box [imagesUrl]="comment.media.type == 'Image'? [comment.media.url]:[]"
                        #lighbox></app-light-box>
                </div>
                <div class="d-flex align-items-center small reply text-body text-opacity-50"
                    [style.color]="!reply.hidden ? '#3f51b5 !important': null">
                    <mat-icon style="width: 20px;height: 20px;font-size:20px;">reply</mat-icon> <span class="ms-1"
                        (click)="reply.hidden = !reply.hidden">Reply</span>
                </div>
            </div>
        </div>

        <div style="margin-left: 43px;">

            <!-- replay form -->
            <div #reply hidden>
                <app-create-comment [postId]="postId" [replyTo]="comment.id"></app-create-comment>
            </div>

            <!-- Replies -->

            <div class="py-1 my-2 d-flex" *ngFor="let reply of comment.replies" id="com{{reply.id}}"
                (longPress)="reply.owner.id == currentAuth!.id ? openCommentBottomSheet(reply) : null">
                <a [routerLink]="currentAuth?.id != reply.owner.id ? '/account/'+reply.owner.id:'/account'">
                    <img [src]="reply.owner.imageUrl ?? defaultUserImageUrl" width="35" height="35"
                        class="rounded-circle">
                </a>

                <div class="ps-2 flex-fill">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <div class="d-flex align-items-center">
                            <a class="fw-semibold  text-primary  text-decoration-none">{{reply.owner.firstName}}
                                {{reply.owner.lastName}}</a>
                            <mat-icon class="ms-1 w-auto h-auto" style="font-size: 16px;color:#5279f6"
                                *ngIf="isDoctor(reply.owner.role)">verified</mat-icon>
                        </div>
                        <span class="small text-body text-opacity-50">{{ reply.commentedOn | timeago }}</span>
                    </div>
                    <p class="my-1 small" *ngIf="reply.content" [innerText]="reply.content"></p>
                    <div class="my-2 w-100" *ngIf="reply.media && reply.media.type == 'Image'">
                        <img [src]="reply.media.url" class="rounded-3 object-fit-cover"
                            style="max-height: 150px;max-width: 100%;" (click)="lighbox.active = true">
                        <app-light-box [imagesUrl]="reply.media.type == 'Image'? [reply.media.url]:[]"
                            #lighbox></app-light-box>
                    </div>
                </div>
            </div>

            <!-- more replies -->

            <div class="d-flex  mt-2 align-items-center fw-semibold text-body text-opacity-50"
                *ngIf="comment.replies.length < comment.totalRepliesCount" style="margin-left: 43px;"
                (click)="loadMoreReplies(comment)">
                <span class="clickable">Load more replies</span>
            </div>
        </div>
    </ng-container>

    <!-- More comments -->
    <div class="d-flex mt-2 justify-content-center  align-items-center fw-semibold text-body text-opacity-50"
        style="margin-left: 43px;" *ngIf="paginatedList.hasNextPage">
        <span class="clickable" (click)="loadMoreComments()">Load more comments</span>
    </div>

</ng-container>