<div class="d-flex flex-row align-items-start">
    <div class="d-flex flex-row justify-content-start align-items-start" style="max-width: 700px;">
        <img [src]='imageUrl' alt="avatar 1" class="rounded-circle flex-shrink-0" width="40px" height="40px">
        <div>
            <div class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                <div class="loader"></div>
            </div>
            <p class="small ms-3 mb-3 rounded-3 text-white float-end">Writing</p>
        </div>
    </div>
</div>