<app-header title="Notifications"></app-header>

<div class="section">
    <div class="container my-5" *ngIf="paginatedList && paginatedList.data?.length"
        (reachedBottom)="loadMoreNotifications()">
        <div class="bg-white shadow-sm p-3 my-2  border-primary border-4 rounded-1 clickable"
            [class.border-start]="!notfication.isRead" *ngFor="let notfication of paginatedList.data"
            (click)="markAsRead(notfication)" [routerLink]="getPath(notfication)">
            <div class="d-flex">
                <img [src]="notfication.initiator.imageUrl" width="52px" height="52px"
                    class="rounded-circle me-3 object-fit-cover ">
                <div class="flex-fill">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h4 class="mb-0 text-body">{{notfication.content}}
                        </h4>
                        <span class="text-muted small">{{notfication.notifiedOn | timeago}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" *ngIf="!paginatedList?.data?.length && !isLoading">
        <div class="text-center" style="color: #3f51b5;">
            <mat-icon class="m-auto mb-2 w-100 h-100" style="font-size: 120px;">notifications_active</mat-icon>
            <h1 class="card-title fw-medium mb-2 fs-3 ">No notifications yet</h1>
        </div>
    </div>
</div>