<div class="section">
    <div class="container text-center my-5">
        <mat-icon class="w-auto h-auto text-success" style="font-size: 145px;">check_circle</mat-icon>
        <span class="fs-4 my-3 text-primary d-block fw-semibold">Your appointment is scheduled!</span>
        <p class="mb-5 fs-6">You are scheduled this appointment successfully.</p>
        <a mat-raised-button color="primary" routerLink="/account" fragment="4" class="p-4 rounded-pill ">Go to
            appointments</a>
    </div>
</div>