<div class="landing ">
    <div class="container py-5" style="height: 300px;">
        <h1 class="title" style="font-size: 75px;">HealU</h1>
        <p class="mt-4 pt-2" style="font-size: 17px;">Medical App Designed By Ibrahim Moawad.</p>
        <button mat-raised-button class="mt-4" [routerLink]="currentAuth ? '/ai-models':'/account/register-user'">Get
            Started</button>
    </div>
</div>

<app-services></app-services>

<span class="seperator container"></span>
<app-about></app-about>